<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>User List</title></head>
<body>
<h2>Users</h2>
<a th:href="@{/users/new}">Add User</a>
<table>
  <tr><th>ID</th><th>Name</th><th>Email</th></tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.email}"></td>
    <td>
      <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a> |
      <a th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
    </td>
  </tr>
</table>
</body>
</html>
