<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Edit Preference</title></head>
<body>
<h2>Edit Notification Preference</h2>
<form th:action="@{'/notification-preferences/edit/' + ${preference.id}}" th:object="${preference}" method="post">
  <input type="hidden" th:field="*{id}" />
  <label>Email Opt-In: <input type="checkbox" th:field="*{emailOptIn}" /></label><br/>
  <label>SMS Opt-In: <input type="checkbox" th:field="*{smsOptIn}" /></label><br/>
  <label>Promotional Messages: <input type="checkbox" th:field="*{promotionalOptIn}" /></label><br/>
  <label>User:
    <select th:field="*{customUser.id}">
      <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
    </select>
  </label><br/>
  <button type="submit">Update</button>
</form>
</body>
</html>
