<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Users</title>
</head>
<body>
<h2>Admin Users</h2>
<table border="1">
    <tr>
        <th>ID</th><th>Username</th><th>Actions</th>
    </tr>
    <tr th:each="admin : ${admins}">
        <td th:text="${admin.id}"></td>
        <td th:text="${admin.username}"></td>
        <td>
            <a th:href="@{'/admin-users/edit/' + ${admin.id}}">Edit</a>
            <form th:action="@{'/admin-users/delete/' + ${admin.id}}" method="post" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/admin-users/new}">Add New Admin User</a>
</body>
</html>