<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Addresses</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body class="dashboard-body">
<div class="dashboard-container">
  <aside class="sidebar">
    <div class="sidebar-title">Customer Notification<br>Business Facade System</div>
    <nav>
      <a th:href="@{/admin/dashboard}" class="sidebar-link">Dashboard</a>
      <th:block th:if="${#authentication.name == 'superadmin'}">
        <a th:href="@{/admin/list}" class="sidebar-link active">Admin Users</a>
      </th:block>

      <a th:href="@{/users}" class="sidebar-link">Customers</a>
      <a th:href="@{/addresses}" class="sidebar-link active">Addresses</a>
      <a th:href="@{/notification-preferences}" class="sidebar-link">Preferences</a>
      <a th:href="@{/notification-statuses}" class="sidebar-link">Statuses</a>
      <a th:href="@{/reports/notification-status-reports}" class="sidebar-link">Reports</a>
      <a th:href="@{/logout}" class="sidebar-link logout-link">Logout</a>
    </nav>
  </aside>
  <main class="dashboard-main">
    <section class="dashboard-section">
      <div class="section-header">
        <h2>Addresses</h2>
        <a th:href="@{/addresses/new}" class="btn-primary">Add New</a>
      </div>
      <div class="card">
        <table>
          <thead>
          <tr>
            <th>Type</th>
            <th>Address</th>
            <th>User</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="address : ${addresses}">
            <td th:text="${address.type}">Email</td>
            <td th:text="${address.value}">john.doe@example.com</td>
            <td th:text="${address.customUser.name}">John Doe</td>
            <td>
              <a th:href="@{'/addresses/edit/' + ${address.id}}" class="table-link">Edit</a>
              <a th:href="@{'/addresses/delete/' + ${address.id}}" class="table-link">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
</div>
</body>
</html>