<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body class="page page-reset-password">

<h2 class="page-title">Reset Admin Password</h2>

<!-- Optional error message -->
<div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>

<form th:action="@{/admin/update}" th:object="${admin}" method="post" class="form-reset-password">
    <input type="hidden" th:field="*{id}" />

    <label class="form-label">Username:
        <input type="text" th:field="*{username}" readonly class="form-input" />
    </label>

    <label class="form-label">New Password:
        <input type="password" th:field="*{password}" required class="form-input" />
    </label>

    <label class="form-label">Retype New Password:
        <input type="password" name="confirmPassword" required class="form-input" />
    </label>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
<a th:href="@{/admin/dashboard}" class="back-link">Back To Dashboard</a>
</body>
</html>


